<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área da Empresa e Candidato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <nav class="top-nav">
            <div class="nav-container">
                <a href="/cadastrar_desempregado#form-section" class="nav-item">Cadastrar Desempregado</a>
                <a href="/cadastrar_empresa#form-section" class="nav-item">Cadastrar Empresa</a>
                <a href="/login" class="nav-item">Login</a>
            </div>
        </nav>
    </header>
    <div class="page-container">
        <main class="page-container">
            <section class="empresa-section">
                <h1>Área da Empresa - {{ empresa.nome }}</h1>
                <p>{{ message }}</p>
                <h2>Candidatos Interessados</h2>
                <ul>
                    {% for candidato in candidatos %}
                        <li>{{ candidato.nome }}</li>
                    {% endfor %}
                </ul>
            </section>
        </main>

    </div>
    <footer class="page-footer">
        <div class="nav-container">
            <p>&copy; 2024 PGD - Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html> 