<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <nav class="top-nav">
            <div class="nav-container flex justify-between items-center">
              <!-- Botão -->
             <div class="nav-links">
              <a href="/" class="nav-item">
                <div class="hover:cursor-pointer hover:bg-slate-800 p-2 rounded-full transition-all duration-500" >
                  <svg  width="20"  height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" >
                    <path d="M27.9167 30H20.4167C19.2658 30 18.3333 29.1392 18.3333 28.0769V21.1538C18.3333 20.3038 17.5875 19.6154 16.6667 19.6154H13.3333C12.4125 19.6154 11.6667 20.3038 11.6667 21.1538V28.0769C11.6667 29.1392 10.7342 30 9.58333 30H2.08333C0.9325 30 0 29.1392 0 28.0769V13.3946C0 11.6262 0.878334 9.95539 2.3825 8.86154L14.2258 0.246923C14.68 -0.0823077 15.32 -0.0823077 15.7733 0.246923L27.6183 8.86154C29.1225 9.95539 30 11.6254 30 13.3931V28.0769C30 29.1392 29.0675 30 27.9167 30Z" fill="white"></path>
                  </svg>
                </div>
              </a>
              <!-- Links de navegação -->
                <a href="/cadastrar_desempregado" class="nav-item" > Desempregado</a >
                <a href="/cadastrar_empresa" class="nav-item" >Empresa</a>
                <a href="/login" class="nav-item">Login</a>
              </div>
            </div>
          </nav>
    </header>
    <div class="page-container">
            <h1> Cadastrar Candidato</h1>
            <form method="POST" class="form-container">
                {% for field in form.fields %}
                <div class="form-group">
                    <label for="{{ field.id }}">{{ field.label }}:</label>
                    {% if field.type == 'textarea' %}
                        <textarea name="{{ field.name }}" id="{{ field.id }}" required></textarea>
                    {% else %}
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.id }}" required>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="submit-button">{{ form.button_text }}</button>
            </form>
    </div>
</body>
</html> 